<div id="bookmark" class="subject view">
    <div class="epub-toolBar-top">
        <div class="btn-group-sm btn-group bookmark-group">
            <button type="button" data-mode="subject" class="btn btn-default subject-matter active">Содержание
            </button>
            <button type="button" data-mode="bookmark" class="btn btn-default bookmark">Закладки</button>
        </div>
        <div class="btn-group-sm btn-group menu">
            <button type="button" data-show="read" class="btn showView btn-default">Закрыть</button>
        </div>
    </div>
    <div class="list-group list-dom">
    </div>
</div>