<div id="read" class="view active">
    <div class="epub-toolBar-top">
        <div class="back btn-group-sm btn-group left">
            <button type="button" class="btn btn-default to-platform"><span
                    class="glyphicon glyphicon-chevron-left"></span>
                Назад
            </button>
        </div>
        <div class="btn-group-sm btn-group menu">
            <button type="button" data-show="settings" class="showView btn btn-default"><i class="fa fa-cog"></i></i>
            </button>
            <button type="button" class="btn btn-default bookmark"><i class="fa fa-bookmark-o"></i></button>
            <button type="button" data-show="bookmark" class="showView btn btn-default"><i class="fa fa-list"></i>
            </button>
        </div>
    </div>
    <div id="epub">
        <div class="epub-body">
            <div class="epub-content">
            </div>
        </div>
    </div>
    <div class="toolBar-bottom">
        <div>
            <hr>
            <div class="slider"></div>
            <span class="progress">0%</span>
        </div>
    </div>
</div>
