<div id="settings" class="view">
    <div class="epub-toolBar-top">
        <div class="btn-group-sm btn-group menu">
            <button type="button" data-show="read" class="btn showView btn-default">Закрыть</button>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2 col-sm-1 col-xs-0"></div>
        <div class="col-md-8 col-sm-10 col-xs-12">

            <ul class="list-group">
                <li class="list-group-item" style="overflow: hidden">
                    <div class="col-md-6 col-sm-6 col-xs-4">Анимации</div>
                    <div class="col-md-6 col-sm-6 col-xs-8" style="position: relative">

                        <div class="onoffswitch" style="position: absolute; left: 0; top: -7px;">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" <% if (typeof(checked) != "undefined") { %> checked <% } %>>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>

                    </div>
                </li>
                <li class="list-group-item speed-line" style="overflow: hidden">
                    <div class="col-md-6 col-sm-6 col-xs-4">Скорость анимации</div>
                    <div class="col-md-6 col-sm-6 col-xs-8" style="padding-left: 0">

                        <div class="btn-group btn-group-xs">
                            <button type="button" data-speed="1000" class="set-speed btn btn-default">Медленно</button>
                            <button type="button" data-speed="500" class="set-speed btn btn-default">Нормально</button>
                            <button type="button" data-speed="200" class="set-speed btn btn-default">Быстро</button>
                        </div>

                    </div>
                </li>
            </ul>

        </div>
        <div class="col-md-2 col-sm-1 col-xs-0"></div>

    </div>

</div>