<div class="modal fade">
    <div class="modal-dialog <%= size %>">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel"><%= title %></h4>
            </div>
            <div class="modal-body">
                <%= content %>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>