@import "../../../helper.styl"

.view {
  display none
  &.active {
    display block;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #8A8383;
  margin: 1em 0;
  padding: 0;
}

.screen {
  background #eee
  position relative
  width 100%
  height 100%
  overflow hidden
  box-sizing: border-box;

  #read {
    height 100%
    width 100%

    .bookmark.active {
      color #05ab3d
    }
  }

  #epub {
    margin 0 auto;
    position relative
    user-select(none)

    height: 100%;
    margin-top: -62px;
    padding-top: 65px;
    padding-bottom: 13px;
    margin-bottom: -13px;

    .epub-content {
      position: relative;
      height: 100%;

      .slide {
        box-sizing border-box;
        margin auto
        width: 100%;
        height: 100%;
        perspective(4000px)
        transform-style(preserve-3d)

        .slide-wrapper {
          position: absolute;
          top: 0;
          box-sizing border-box;
          overflow: hidden;

          &.preload {
            transform(translate3d(0px, 0px, -10px) rotate3d(0, 1, 0, 0deg))
          }

          &.toShow {
            transform(translate3d(0px, 0px, 0px) rotate3d(0, 1, 0, 0deg))
          }

          backface-visibility(hidden)
          transform(translate3d(0px, 0px, -1px) rotate3d(0, 1, 0, 0deg))

          &.visible {
            transform(translate3d(0px, 0px, 1px) rotate3d(0, 1, 0, 0deg))
          }

          &.left {
            left 0;
            padding-left 10px
            transform-origin(right 50% 0)
            max-width 50%
          }

          &.right {
            right 0;
            padding-right 10px
            transform-origin(left 50% 0)
            max-width 50%
          }

          &.center {
            transform-origin(left 50% 0)
          }

          p {
            padding 10px 0;
          }
        }
      }

    }
  }

  .epub-toolBar-top {

    .left {
      float left
    }

    .menu {
      position absolute
      right 10px
      top 10px
    }

    padding 10px
    height 45px
    position relative

    .btn {
      color #000;
    }
  }

  .toolBar-bottom {
    box-sizing border-box
    margin 10px 60px 0 20px
    position relative

    .slider {
      background: #fff;
      border-radius: 50%;
      border: 1px solid #ddd;
      width: 30px;
      height: 25px;
      position: absolute;
      margin-left -15px
      top: -12px;
      left: 0;
    }

    .progress {
      position absolute
      right -47px;
      top: - 10px
    }
  }

  #bookmark {

    &.bookmark {
      .list-group {
        .subject {
          display none
        }
      }
    }

    &.subject {
      .list-group {
        .bookmark {
          display none
        }
      }
    }

    .bookmark-group {
      width 170px
      margin 0 auto;
      display: block;
    }

    .list-group {
      text-align center
      overflow auto
    }

  }

}

html, body, #bigrect {
  margin 0
  padding 0
  width 100%
  height 100%
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: -2px;
  bottom: 3px;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}