#bigrect {
  width 100%;
  height 100%;
  position: relative;
  background #b5b4b0

  .scene-element {
    overflow hidden;
  }

  .view-element {
    position absolute;
    margin 0;
    padding 0;
    border none;
    left: 0;
    top: 0;
    -webkit-backface-visibility: none
    -moz-backface-visibility: none
    -ms-backface-visibility: none
    backface-visibility: none
  }

}
.book-control {

  position absolute;
  top 0
  left: 0;

  .view-element {
    position absolute;
    margin 0;
    padding 0;
    border none;
    left: 0;
    top: 0;
    -webkit-backface-visibility: none
    -moz-backface-visibility: none
    -ms-backface-visibility: none
    backface-visibility: none
  }

}