@import "helper.styl"

html, body, #bigrect {
  height 100%;
  width 100%;
  margin 0;
  padding 0;
  overflow hidden;
}

div, img {
  margin 0;
  padding 0;
  border none;
}

* {
  -ms-content-zooming: none;
}

.preloader.modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -54px -151px;
}

.bigrect {
  position relative;
  user-select(none);
}

iframe {
  width 0;
  height 0;
  border none;
}
