<div class="coverBg"></div>


<div class="content" style="width: 1024px; height: 768px;">

	<img src='img/logo.png' height="170px" style="position: absolute; left: 100px; top:50px;">

	<img src='img/cover_preview.jpg' width="750" height="344" style="top:270px ; position: absolute; left: 94px;">
	<img src='plugins/NarrComics/img/ramka.png' width="778" height="381"
		 style="top: 250px; position: absolute; left: 80px;">

	<img src="plugins/NarrComics/img/Next.png" height="110" class="flash"
		 style="position:absolute; top:628px; left:750px;">

	<div class="text" style="position: absolute; top:640px; left: 94px; width: 100%;">

		<p style="position: absolute; top:0px; left: 0px; font-family: 'HelveticaNeue-CondensedBold'; font-size: 40px;  ">
			<%= serialName %></p>

		<p style="position: absolute; top:40px; left: 0px; font-family: 'HelveticaNeue-CondensedBold'; font-size: 30px; color: #18509a;">
			<%= episodName %></p>

	</div>

</div>
