<div id = "helper" >
	<div class="arrowLT">
		<p class="menus text">Открыть настройки</p>
	</div>
	<div class="arrowRT">
		<p class="soderjanie text">Открыть содержание</p>
	</div>
	<div class="centerTap">
		<p class="tapni text">Прикоснитесь, чтобы переключить на следующий слайд</p>
	</div>
	<div class="centerSwipe">
		<p class="swipni text">Проведите по экрану, чтобы переключить сцену</p>
	</div>
</div>


